body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для кнопки-ссылки на страницу авторизации */
button.link-button {
    background-color: #6c757d; /* Серый цвет фона */
}

/* Эффект при наведении на кнопку-ссылку */
button.link-button:hover {
    background-color: #545b62; /* Темно-серый цвет при наведении */
}

#checkers-board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 3px solid black;
}

.cell {
    width: 50px;
    height: 50px;
}

.black-cell {
    background-color: gray;
}

.white-cell {
    background-color: white;
}
